/* Styles pour les champs */
.scf-field-row .column-order {
	width: 50px;
	cursor: move;
}

.scf-field-row .column-type {
	width: 150px;
}

.scf-field-row .column-actions {
	width: 200px;
	text-align: right;
}

.scf-field-row .column-actions button {
	display: inline-block;
	margin-left: 5px;
}

.scf-field-row .column-actions .dashicons {
	margin-top: 3px;
}
